<div class="contact-form mt-3">
  <div class="container">
    <form>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h1>Add Skills</h1>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 right">
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" placeholder="Your name" name="name" [(ngModel)]="data.name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" placeholder="Your phone" name="phone" [(ngModel)]="data.phone">
          </div>
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" placeholder="Your skill" name="skill" [(ngModel)]="data.skill">
          </div>
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" placeholder="Your province" name="province"
              [(ngModel)]="data.province">
          </div>
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" placeholder="Your price" name="price" [(ngModel)]="data.price">
          </div>
          <div class="form-group">
            <textarea class="form-control form-control-lg" name="comments" [(ngModel)]="data.comments">
          </textarea>
          </div>
          <button type="button" class="btn btn-secondary btn-block" (click)="insertSkill()">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
